* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.btn {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
}
/* Header */
.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-part-header {
  max-width: 500px;
}
.left-part-header h2 {
  font-size: 60px;
}
.left-part-header p {
  font-size: 22px;
  margin: 30px 0;
}
.button {
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  font-size: 20px;
  padding: 20px 100px;
  background: #263238;
  color: white;
}
.button:hover {
  background: #000;
}
.right-part-header img {
  width: 500px;
}

.parent img {
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;
}

.div1 {
  background: #f5f5f5;
  grid-column: span 2 / span 2;
  grid-row: span 7 / span 7;
}

.div2 {
  background: #f5f5f5;
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
}

.div3 {
  background: #f5f5f5;
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 5;
}

.div4 {
  background: #f5f5f5;
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 5;
}
